@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DynaPuff:wght@400..700&family=Libre+Barcode+39&family=Qwigley&display=swap');

header{
   background-image: url(../images/Banner.png);
   padding-bottom: 40px;
   padding-top: 85px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   text-align: center;
   font-family:"DynaPuff", system-ui;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #5257AC;
    color:aliceblue;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 90;
}

nav li{
    float:left
}

nav a{
    display: block;
    padding: 10px;
    color: aliceblue;
}

nav a:hover{
    background-color: #F257AC;
    text-decoration: none;
    color: aliceblue;
}

section{
    background-color: #F2A0C6;
    width: 70vw;
    margin: auto;
    padding-bottom: 45px;  
}

#bio{
text-align: center;
}

body{
    background-color: #9794F2;
}

.carousel{
    text-align: center;
    padding-top: 20px;
}

.carousel-indicators{
    bottom: -50px;
}

.carousel-control-prev{
    margin-left: -65px;
}

.carousel-control-next{
    margin-right: -65px; 
}

.carousel img{
    padding-left: 15%;
    padding-right: 15%;
}

p{
    color: aliceblue;
    font-family: "Averia Sans Libre", serif;
    font-size: 22px;
}

h2{
    background-color: #F257AC;
    margin-bottom: 30px;
    font-family:"DynaPuff", system-ui;
}

h2, h3{
    color: aliceblue;
    text-align: center;
    font-family:"DynaPuff", system-ui;
}

a{
    text-decoration: none;
    color: #9794F2;
}

footer{
    background-image: url(../images/Banner.png);
    padding-bottom: 40px;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

