header{
    min-height: 30vh;
    background-image: url(../images/Forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: #610a08;
}

body{
    background-color: #3e3e3e;
}

footer{
    background-color: #610a08;
    min-height: 30vh;
}

p, h3{
color: aliceblue;
}

footer ::selection{
    background: #3e3e3e;
}

::selection{
    background: #610a08;
}