@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DynaPuff:wght@400..700&family=Libre+Barcode+39&family=Qwigley&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DynaPuff:wght@400..700&family=Faculty+Glyphic&family=Libre+Barcode+39&family=Qwigley&family=Roboto+Slab:wght@100..900&display=swap');

header{
    min-height: 30vh;
    background-image: url(../images/Forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: #610a08;
}

body{
    background-color: #3e3e3e;
}

p, h3{
color: aliceblue;
}

p{
    font-family: "Roboto Slab", serif;
}
h3{
    font-family: "Faculty Glyphic", sans-serif;
}

footer{
    background-color: #610a08;
    min-height: 30vh;
}

footer ::selection{
    background: #3e3e3e;
}

::selection{
    background: #610a08;
}